@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
}
.h1-heading {
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}

.h2-normal {
  font-size: 15px;
  padding: 10px;
  font-weight: 400;
}
.bottom-div {
  bottom: 0;
}

h1 {
  font-size: 18px;
  align-content: flex-start;
  padding: 15px;
  font-weight: 800;
}

.article-text {
  font-size: 15px;
  align-content: flex-start;
  padding: 15px;
  font-weight: 400;
  font-stretch: extra-expanded;
}

.bigger-text {
  font-size: 35px;
}

.glow-button {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(107, 104, 109, 0.4);
}

h1,
h2,
h3,
p,
strong {
  @apply text-gray-900 dark:text-white !important;
}
